@import '../../app/default.scss';
#countDown {
    color: #fff;
    background: $color_red;
    position: absolute;
    right: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    float: right;
    border-radius: 4px;
    padding: 0 15px;
    white-space: nowrap;
    top: 18%;
    &~input {
        width: 120px;
    }
    &.off{
        background-color: #dbdbdb;
    }
}

@supports(font-size: 1vw) {
    #countDown {
        right: pxToVw(30);
        height: pxToVw(70);
        line-height: pxToVw(70);
        font-size: pxToVw(26);
        border-radius: pxToVw(8);
        padding: 0 pxToVw(30);
        &~input {
            width: pxToVw(240);
        }
    }
}