@charset "UTF-8";
@import '../../app/default.scss';
.loan_list {
    dl {
        padding: 10px 0 40px;
        margin-bottom: -10px;
        dd {
            background: #fff;
            @include border_s(1px, 0, 1px);
            padding: 10px 15px 30px;
            height: 90px;
            margin-bottom: 5px;
            span {
                font-size: 30px;
                color: $color_gray_dark;
                display: block;
                padding-top: 5px;
                position: relative;
                line-height: 30px;
                padding-bottom: 15px;
                height: 60px;
                &:before {
                    content: '借款金额(元)';
                    color: $color_gray;
                    display: block;
                }
                i {
                    font-size: 13px;
                    color: $color_blue;
                    padding: 2px 10px;
                    position: relative;
                    left: 15px;
                    bottom: 6px;
                    @include border_s(1px, 1px, 1px, 1px);
                    &:before {
                        border-color: $color_blue;
                        border-radius: 8px;
                    }
                }
            }
            span:before {
                color: $color_gray;
                font-size: 11px;
            }
            label {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                color: $color_gray_white;
                font-size: 13px;
                @include border_s(1px);
                line-height: 3;
            }
            em {
                font-size: 15px;
                position: absolute;
                right: 36px;
                top: 50px;
                color: $color_gray;
                &.STATUS_LOANSUCC {
                    color: $color_blue;
                }
                i {
                    width: 71px;
                    height: 70px;
                    display: block;
                    position: absolute;
                    top: -15px;
                    right: 5px;
                    background: {
                        image: url('//miz-image.b0.upaiyun.com/mizdai/3.0/done.png');
                        size: contain;
                    }
                }
            }
            svg {
                right: 0;
                height: 96px;
            }
        }
    }
}

@supports(font-size: 1vw) {
    .loan_list {
        dl {
            padding: pxToVw(20) 0 pxToVw(80);
            margin-bottom: pxToVw(-20);
            dd {
                padding: pxToVw(20) pxToVw(30) pxToVw(60);
                height: pxToVw(180);
                margin-bottom: pxToVw(10);
                span {
                    font-size: pxToVw(60);
                    padding-top: pxToVw(10);
                    line-height: pxToVw(60);
                    padding-bottom: pxToVw(30);
                    height: pxToVw(120);
                    i {
                        font-size: pxToVw(26);
                        padding: pxToVw(4) pxToVw(20);
                        left: pxToVw(30);
                        bottom: pxToVw(12);
                        &:before {
                            border-radius: pxToVw(16);
                        }
                    }
                }
                span:before {
                    font-size: pxToVw(22);
                }
                label {
                    font-size: pxToVw(26);
                }
                em {
                    font-size: pxToVw(30);
                    right: pxToVw(72);
                    top: pxToVw(100);
                    i {
                        width: pxToVw(142);
                        height: pxToVw(140);
                        top: pxToVw(-30);
                        right: pxToVw(10);
                    }
                }
                svg{
                    height: pxToVw(192);
                }
            }
        }
    }
}
