@import '../../app/default.scss';
.loandetail {
    padding-bottom: 40px;
    .top {
        height: 225px;
        font-size: 13px;
        padding-top: 35px;
        background: #fff;
        text-align: center;
        p {
            font-size: 60px;
            line-height: 1;
            padding: 20px 0 30px;
            width: -webkit-fit-content;
            width: fit-content;
            margin: auto;
        }
        >label{
            display: block;
            font-size:12px;
            color:$color_gray;
            line-height: 2;
        }
        ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            li {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                        flex: 1;
                line-height: 2;
                label {
                    font-size: 13px;
                    display: block;
                }
                span {
                    font-size: 15px;
                }
                /*anzhuo 4.3*/
                width: 50%;
                float: left;
            }
            >:first-child{
                @include border_s(0,1px);
            }
        }
    }
    .me {
        >dl {
            font-size: 15px;
            color: $color_gray_dark;
            background: #fff;
            margin-top: 10px;
            @include border_s(1px, 0, 1px);
            line-height: 55px;
            padding-left: 15px;
            dd {
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                        justify-content: space-between;
                position: relative;
                span {
                    padding-right: 15px;
                    &.done{
                        color:#000;
                    }
                    &.wait{
                        color:$color_blue;
                    }

                    /*anzhuo4.3*/
                    float: right;
                }
                &:not(:last-child) {
                    @include border_s(0, 0, 1px);
                }
            }
        }
    }
}

@supports(font-size: 1vw) {
    .loandetail {
        padding-bottom: pxToVw(80);
        .top {
            height: pxToVw(450);
            font-size: pxToVw(26);
            padding-top: pxToVw(70);
            p {
                font-size: pxToVw(120);
                padding: pxToVw(40) 0 pxToVw(60);
            }
            ul {
                li {
                    label {
                        font-size: pxToVw(26);
                    }
                    span {
                        font-size: pxToVw(30);
                    }
                }
            }
        }
        .me {
            >dl {
                font-size: pxToVw(30);
                margin-top: pxToVw(20);
                line-height: pxToVw(110);
                padding-left: pxToVw(30);
                dd {
                    span {
                        padding-right: pxToVw(30);
                    }
                }
            }
        }
    }
}