@import '../../app/default.scss';

.repayment_ahead_confirm {
    padding-top: 10px;

    div {
        background: #fff;
        line-height: 53px;
        font-size: 15px;
        padding: 0 15px;
        @include border_s(1px);

        span {
            float: right;

            label {
                padding-left: 10px;
                color: $color_gray_dark;
            }
        }
    }

    p {
        line-height: 40px;
        font-size: 12px;
        color: $color_gray;
        text-indent: 15px;
        @include border_s(1px);
    }

    > span {
        font-size: 12px;
        color: $color_gray;
        line-height: 20px;
        display: block;
        text-indent: 15px;

        &:first-child {
            margin-top: 5px;
        }
    }

    > :last-child {
        @include border_s(1px, 0, 1px);
    }

    a {
        background: $color_red;
        color: #fff;
        display: block;
        margin: 60px 15px 0;
        text-align: center;
        font-size: 18px;
        line-height: 44px;
        border-radius: 8px;
    }
}
@supports(font-size: 1vw) {
    .repayment_ahead_confirm {
        padding-top: pxToVw(20);

        div {
            line-height: pxToVw(106);
            font-size: pxToVw(30);
            padding: 0 pxToVw(30);
        }

        p {
            line-height: pxToVw(80);
            font-size: pxToVw(24);
            text-indent: pxToVw(30);
        }

        > span {
            font-size: pxToVw(24);
            line-height: pxToVw(40);
            text-indent: pxToVw(30);

            &:first-child {
                margin-top: pxToVw(10);
            }
        }

        a {
            margin: pxToVw(120) pxToVw(30) 0;
            font-size: pxToVw(36);
            line-height: pxToVw(88);
            border-radius: pxToVw(16);
        }
    }
}
