@charset "UTF-8";
@import '../../app/default.scss';

.repayment_all {
    .detail {
        background: #fff;
        @include border_s(0, 0, 1px);
        padding-bottom: 40px;
        text-align: center;
        margin-bottom: 10px;

        p {
            font-size: 60px;
            color: $color_gray_dark;
            padding-top: 40px;
            width: fit-content;
            margin: auto;

            &:before {
                content: '未还本金(元) ';
                font-size: 13px;
                color: $color_gray_dark;
                display: block;
            }
        }

        span {
            color: $color_gray_dark;
            font-size: 13px;
            display: block;
            padding-top: 20px;

            em {
                color: $color_red;
            }
        }
    }

    #torecord {
        width: 96%;
        left: 2%;
        bottom: 25px;
        background: #fff;
        @include border_s(1px,1px,1px,1px);
        position: fixed;
        font-size: 18px;
        text-align: center;
        line-height: 44px;
        color: $color_gray_dark;
    }
}

.list_return {
    background: #fff;
    @include border_s(1px, 0, 1px);

    dd,
    dt {
        position: relative;
        display: flex;
        align-items: center;
    }

    dt {
        padding: 20px 15px 15px;
        height: 40px;

        span:after {
            content: '每个还款日将自动扣款';
        }
    }

    dd {
        padding: 15px 15px 15px 0;
        margin-left: 15px;
        @include border_s(1px);

        span:after {
            content: '可自主结清所有借款';
        }
    }

    span {
        font-size: 15px;
        color: $color_gray_dark;

        &:after {
            display: block;
            font-size: 12px;
            color: $color_gray;
            position: relative;
            // top: 2px;
        }
    }

    label {
        flex: 1;
        padding-right: 15px;
        text-align: right;
        font-size: 15px;
        color: $color_gray_dark;

        em {
            color: $color_red;
        }
        //anzhuo4.3
        position: absolute;
        right: 20px;
        top: 35%;
    }
}
@supports(font-size: 1vw) {
    .repayment_all {
        .detail {
            padding-bottom: pxToVw(80);
            margin-bottom: pxToVw(20);

            p {
                font-size: pxToVw(120);
                padding-top: pxToVw(80);

                &:before {
                    font-size: pxToVw(26);
                }
            }

            span {
                font-size: pxToVw(26);
                padding-top: pxToVw(40);
            }
        }

        #torecord {
            // width: 96%;
            left: 0;
            width: calc(100% - 8vw);
            margin: 0 pxToVw(30);
            bottom: pxToVw(50);
            font-size: pxToVw(36);
            line-height: pxToVw(88);
        }
    }

    .list_return {
        dt {
            padding: pxToVw(40) pxToVw(30) pxToVw(30);
            height: pxToVw(80);
        }

        dd {
            padding: pxToVw(30) pxToVw(30) pxToVw(30) 0;
            margin-left: pxToVw(30);
        }

        span {
            font-size: pxToVw(30);

            &:after {
                font-size: pxToVw(24);
                top: pxToVw(4);
            }
        }

        label {
            padding-right: pxToVw(30);
            font-size: pxToVw(30);
            position: static;
        }
    }
}
