@charset "UTF-8";
@import '../../app/default.scss';

#record_detail {
    padding-bottom: 40px;

    > dl {
        background: #fff;
        @include border_s(1px, 0, 1px);
        padding: 0 15px;
        font-size: 15px;
        color: $color_gray_dark;
        top: 10px;
        margin-top: 10px;

        > dd {
            display: flex;
            justify-content: space-between;
            padding: 15px 0;

            span:first-child {
                flex-basis: 85px;
            }

            & > :last-child {
                color: $color_gray_white;
                display: flex;
            }

            #state {
                color: $color_blue;
                border: 1px solid;
                border-radius: 5px;
                padding: 0 5px;
                float: right;
            }

            em {
                padding-right: 5px;
            }

            #unpay {
                color: $color_red;
            }

            .paid {
                color: $color_gray_dark;
            }
        }

        > :not(:last-child) {
            @include border_s(0, 0, 1px);
        }
    }

    > a {
        color: #fff;
        background-color: $color_red;
        display: block;
        margin: 50px 10px 0;
        text-align: center;
        font-size: 18px;
        line-height: 45px;
        border-radius: 4px;
    }

    #about {
        padding: 0;
        overflow: hidden;

        > dt {
            font-size: 15px;
            line-height: 50px;
            padding: 0 10px;
        }

        > dd {
            padding: 0;
        }

        > dd ul {
            display: block;
            padding: 20px 10px;
            width: 100%;

            > li {
                display: flex;
                font-size: 13px;

                div {
                    flex: 1;
                }

                > :first-child {
                    color: $color_gray;

                    label {
                        font-size: 30px;
                        display: block;
                        color: $color_gray_dark;
                    }

                    span {
                        font-size: 12px;
                    }
                }

                > :nth-child(2) {
                    @include border_s(0,0,0,1px);
                }

                ol {
                    list-style: none;
                    -webkit-padding-start: 15px;
                    font-size: 13px;
                    color: $color_gray_white;

                    span {
                        color: $color_gray_dark;
                    }

                    li {
                        line-height: 25px;
                    }

                    li:first-child {
                        word-spacing: 9px;
                    }
                }
            }
        }

        svg {
            transform: rotate(180deg);
            transition: transform 300ms;
        }

        &.false {
            svg {
                transform: rotate(180deg);
            }

            dd {
                display: flex;
            }
        }

        &.true {
            svg {
                transform: rotate(270deg);
            }

            dd {
                display: flex;
            }
        }
    }
}
@supports(font-size: 1vw) {
    #record_detail {
        padding-bottom: pxToVw(80);

        dl {
            padding: 0 pxToVw(30);
            font-size: pxToVw(30);
            top: pxToVw(20);
            margin-top: pxToVw(20);

            dd {
                padding: pxToVw(30) 0;

                span:first-child {
                    flex-basis: pxToVw(170);
                }

                #state {
                    border-radius: pxToVw(10);
                    padding: 0 pxToVw(10);
                }

                em {
                    padding-right: pxToVw(10);
                }
            }
        }

        > a {
            margin: pxToVw(100) pxToVw(20) 0;
            font-size: pxToVw(36);
            line-height: pxToVw(90);
            border-radius: pxToVw(8);
        }

        #about {
            dt {
                font-size: pxToVw(30);
                line-height: pxToVw(100);
                padding: 0 pxToVw(20);
            }

            > dd ul {
                padding: pxToVw(40) pxToVw(20);

                > li {
                    font-size: pxToVw(26);

                    > :first-child {
                        label {
                            font-size: pxToVw(60);
                        }

                        span {
                            font-size: pxToVw(24);
                        }
                    }

                    ol {
                        -webkit-padding-start: pxToVw(30);
                        font-size: pxToVw(26);

                        li {
                            line-height: pxToVw(50);
                        }

                        li:first-child {
                            word-spacing: pxToVw(18);
                        }
                    }
                }
            }
        }
    }
}
