@import '../../app/default.scss';
.loanAgreeMent {
    padding: 0 10px;
    overflow-y: scroll;
    div {
        font-size: 16px;
        h2 {
            text-align: center;
            font-size: 20px;
            line-height: 2;
        }
    }
    p {
        font-size: 14px;
        margin: 10px 0;
    }
    img {
        width: 50%;
        padding-left: 50%;
    }
}

@supports(font-size:1vw) {
    .loanAgreeMent {
        padding: 0 pxToVw(20);
        div {
            font-size: pxToVw(32);
            h2 {
                font-size: pxToVw(40);
            }
        }
        p {
            font-size: pxToVw(28);
            margin: pxToVw(20) 0;
        }
    }
}