@charset "UTF-8";
@import './default.scss';

.swal2-container {
    display: flex;

    .swal2-modal {
        .swal2-styled {
            color: $color_red;
            width: 100%;
            margin: 0;
            background-color: #fff !important;
            @include border_s(1px);
            line-height: 25px;
            position: absolute !important;
            bottom: 0;
            left: 0;

            &:focus {
                outline: none;
            }
        }

        .swal2-content {
            font-size: 15px;
            width: 100%;
            display: inline-block !important;
            word-break: break-all;
            text-align: left;
            width: auto;
            margin: 0 auto;
            padding: 10px 0 25px;
        }
    }

    .swal2-show {
        width: 100% !important;
        min-height: auto !important;
    }
}

body {
    margin: 0;
    font-family: "PingFang SC", "Microsoft YaHei";
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

.body {
    background: $color_bg;
    margin-top: 45px;
}

dl,
p,
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    list-style: none;
}

a {
    cursor: none;
    text-decoration: none;
    outline: 0;
}

dd {
    -webkit-margin-start: 0;
}

input {
    outline: 0;
    padding: 0;
}

textarea {
    outline: 0;
}

em,
i {
    font-style: normal;
}

.ReactModalPortal {
    > div {
        background-color: rgba(0, 0, 0, 0.6) !important;
        transform: scale(0);

        &.ReactModal__Overlay--after-open {
            z-index: 999;
            transform: scale(1);
            transition: all 150ms ease-out;
        }

        &.ReactModal__Overlay--before-close {
            opacity: 0;
            transition: opacity 150ms ease-in;
        }

        > div {
            top: 50% !important;
            left: 50% !important;
            right: auto !important;
            bottom: auto !important;
            margin-right: '-50%';
            transform: translate(-50%, -50%);
            width: 80%;
            padding: 0 !important;

            .content {
                font-size: 15px;
                color: #333!important;
                line-height: 1.5;
                padding: 0 12px;
                text-align: center;
                word-wrap: break-word;
                @include border_s(0, 0, 1px);
                height: 120px;
                align-items: center;
                display: flex;
                justify-content: center;

                i {
                    position: absolute;
                    right: 5px;
                    top: 0;
                    width: 22px;
                    height: 22px;
                    color: #c8c7cc;
                    font-size: 22px;
                }

                &.imgcode {
                    display: block;
                    padding: 0;
                    height: auto;
                    @include border_s;

                    &+.btn {
                        padding: 10px;
                    }

                    p {
                        font-size: 18px;
                        color: $color_gray_dark;
                        line-height: 65px;
                    }

                    div {
                        display: flex;
                        height: 50px;
                        @include border_s(1px, 0, 1px);
                        margin: 0 30px;

                        input {
                            flex: 1;
                            text-indent: 15px;
                            background: $color_gray_light;
                            border: 0;
                            font-size: 15px;
                            position: relative;
                            width: 55%; //AD4.3
                            line-height: 3; //AD4.3
                            float: left;
                        }

                        img {
                            flex: 0 0 80px;
                            position: relative;
                        }
                    }

                    &~.btn {
                        a {
                            background: $color_blue;
                            display: block;
                            color: #fff;
                            font-size: 18px;
                            line-height: 50px;
                            border-radius: 22px;
                            margin: 10px 0 5px;
                        }
                    }
                }
            }

            #password {
                height: 50px;

                &~#main {
                    padding-bottom: 20px;

                    p {
                        text-align: center;
                        font-size: 15px;
                        line-height: 65px;
                        color: $color_gray_dark;

                        label {
                            color: $color_red_light;
                            font-size: 18px;
                        }
                    }

                    dl {
                        display: flex;

                        &:before {
                            border: 0;
                        }

                        dd {
                            flex: 1;
                            background: $color_gray_light;
                            padding-bottom: 16.6%;
                            @include border_s(1px, 1px, 1px, 1px);
                            height: 0;
                            //anzhuo 4.3
                            width: 16.6%;
                            float: left;
                        }
                        //anzhuo 4.3
                        &:after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                    }

                    input {
                        position: absolute;
                        left: -100%;
                        width: 200%;
                        bottom: 85px;
                        height: 50px;
                        opacity: 0;
                    }
                }
            }

            .btn {
                text-align: center;
                padding: 3px;

                a {
                    width: 100%;
                    color: $color_red;
                    position: relative;
                    text-decoration: none;
                    font-size: 18px;
                    height: 50px;
                    line-height: 44px;
                }
            }

            .select {
                height: 50px;

                i {
                    font-size: 25px;
                    top: 5px;
                    right: 15px;
                }

                &~dl {
                    padding-bottom: 10px;
                    background: $color_confirm_bg;
                    overflow: scroll;
                    max-height: 300px;
                    overflow-x: hidden;

                    dd {
                        line-height: 50px;
                        text-indent: 20px;
                        @include border_s(0, 0, 1px);
                        font-size: 15px;
                        color: $color_gray_dark;
                    }
                }
            }

            .result {
                display: block;
                height: 140px;

                p {
                    font-size: 18px;
                    color: $color_gray_dark;
                    line-height: 3.5;
                }

                label {
                    font-size: 14px;
                    color: $color_gray_white;
                    text-align: left;
                    display: block;
                }
                @media screen and(max-width: 320px) {
                    p {
                        line-height: 2.5;
                    }
                }
            }

            > img {
                max-width: 100%;
                margin: auto;
                background: transparent;
            }

            > .close {
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                z-index: 2;
            }
        }
    }
}

.timesX {
    position: absolute;
    right: 5px;
    top: 0;
    width: 22px;
    height: 22px;
    color: #c8c7cc;
    font-size: 22px;
}

.rightSvg svg {
    transform: rotate(180deg);
    width: 9px;
    position: absolute;
    right: 10px;
    height: 100%;
    top: 0;
}

.showclear+.clearInput {
    color: #fff;
    z-index: 2;
}

.clearInput {
    color: transparent;
    position: relative;
}

.showclear+.blueClearInput {
    color: $color_blue;
    z-index: 2;
}

.blueClearInput {
    padding: 0 20px;
    @extend .clearInput;
}

#list_null {
    height: 160px;
    padding-top: 30%;
    position: relative;

    &:after {
        content: '暂无数据内容';
        font-size: 15px;
        color: $color_gray_white;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: -30px;
        display: block;
    }
    background: {
        image: url('https://image.mizlicai.com/mizdai/3.0/null.png');
        repeat: no-repeat;
        size: 160px;
        position: {
            x: center;
            y: bottom;
        }
    }
}

#app > section {
    overflow: visible;
}

.red {
    color: $color_red !important;
}
@supports(font-size:1vw) {
    .swal2-container {
        .swal2-modal {
            .swal2-styled {
                line-height: pxToVw(50);
                font-size: pxToVw(34);
            }

            .swal2-content {
                font-size: pxToVw(30);
                padding: pxToVw(20) 0 pxToVw(50);
            }
        }
    }

    .body {
        margin-top: pxToVw(90);
    }

    .timesX {
        i {
            right: pxToVw(10);
            width: pxToVw(44);
            height: pxToVw(44);
            font-size: pxToVw(44);
        }
    }

    .ReactModalPortal {
        > div {
            > div {
                .content {
                    font-size: pxToVw(30);
                    padding: 0 pxToVw(24);
                    height: pxToVw(240);

                    i {
                        right: pxToVw(10);
                        width: pxToVw(44);
                        height: pxToVw(44);
                        font-size: pxToVw(44);
                    }

                    &.imgcode {
                        &+.btn {
                            padding: pxToVw(20);
                        }

                        p {
                            font-size: pxToVw(36);
                            line-height: pxToVw(130);
                        }

                        div {
                            height: pxToVw(100);
                            margin: 0 pxToVw(60);

                            input {
                                text-indent: pxToVw(30);
                                font-size: pxToVw(30);
                            }

                            img {
                                flex-basis: pxToVw(160);
                            }
                        }

                        &~.btn {
                            a {
                                font-size: pxToVw(36);
                                line-height: pxToVw(100);
                                height: pxToVw(100);
                                border-radius: pxToVw(44);
                                margin: pxToVw(20) 0 pxToVw(10);
                            }
                        }
                    }
                }

                #password {
                    height: pxToVw(100);

                    &~#main {
                        padding-bottom: pxToVw(40);

                        p {
                            font-size: pxToVw(30);
                            line-height: pxToVw(130);

                            label {
                                font-size: pxToVw(36);
                            }
                        }

                        input {
                            bottom: pxToVw(170);
                            height: pxToVw(100);
                        }
                    }
                }

                .btn {
                    padding: pxToVw(6);

                    a {
                        font-size: pxToVw(36);
                        line-height: pxToVw(88);
                        border-radius: pxToVw(44);
                        margin: pxToVw(20) 0 pxToVw(10);
                    }
                }

                .select {
                    height: pxToVw(100);

                    i {
                        font-size: pxToVw(50);
                        top: pxToVw(10);
                        right: pxToVw(30);
                    }

                    &~dl {
                        max-height: 70vh;
                        padding-bottom: pxToVw(20);

                        dd {
                            line-height: pxToVw(100);
                            text-indent: pxToVw(40);
                            font-size: pxToVw(30);
                        }
                    }
                }

                .result {
                    height: pxToVw(280);

                    p {
                        font-size: pxToVw(36);
                    }

                    label {
                        font-size: pxToVw(28);
                    }
                }
            }
        }
    }

    .rightSvg svg {
        width: pxToVw(18);
        right: pxToVw(20);
    }

    #list_null {
        height: pxToVw(320);

        &:after {
            font-size: pxToVw(30);
            bottom: pxToVw(-60);
        }
        background: {
            size: pxToVw(320);
        }
    }
}
