@import '../../app/default.scss';
.waiting {
    position: fixed !important;
    top: 45px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    // &.on,
    // &.off {
        display: flex;
    // }
    em {
        width: 100px;
        height: 100px;
        margin: 40% auto;
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 8px;
    }
    i {
        background-image: url('//miz-image.b0.upaiyun.com/mizdai/3.0/loading.png');
        background-size: cover;
        width: 100%;
        height: 100%;
        display: block;
        animation: loading 2000ms infinite linear;
    }
    @keyframes loading {
        from {
            transform: rotate(0)
        }
        to {
            transform: rotate(360deg)
        }
    }
}

@supports(font-size:1vw) {
    .waiting {
        top: pxToVw(90);
        em {
            width: pxToVw(200);
            height: pxToVw(200);
            border-radius: pxToVw(16);
        }
    }
}