@import '../../app/default.scss';

#faq {
    padding: 10px 0 30px;

    dl:first-child {
        @include border_s(1px);
    }

    dl:last-child {
        @include border_s(0, 0, 1px);

        dd {
            @include border_s(1px);
        }
    }

    dl:not(:last-child) dt {
        @include border_s(0, 0, 1px);
    }

    dl {
        padding: 0 15px;
        background: #fff;

        dt {
            font-size: 15px;
            color: $color_gray_dark;
            line-height: 25px;
            padding: 10px 0;
            position: relative;
            display: flex;
        }

        dd {
            font-size: 13px;
            line-height: 22px;
            color: $color_gray_white;
            @include border_s(0, 0, 1px);
            padding: 10px 0;
            display: none;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        font-size: 11px;
        margin: 10px 0;
        @include border_s(0, 0, 1px, 1px);

        .start {
            flex-basis: 19%;
        }

        li {
            @include border_s(1px, 1px);
            padding: 10px 0;
            text-align: center;
            flex: 1 1 27%;
            justify-content: center;
            display: flex;
            align-items: center;
            float: left;
            width: 25%;
            height: 60px;

            &:after {
                content: '';
                display: block;
                clear: both;
            }
        }

        &.bank li {
            flex-basis: 50%;
            height: 15px;
        }
    }
}
@supports(font-size: 1vw) {
    #faq {
        padding: pxToVw(20) 0 pxToVw(60);

        dl {
            padding: 0 pxToVw(30);

            dt {
                font-size: pxToVw(30);
                line-height: pxToVw(50);
                padding: pxToVw(20) 0;
            }

            dd {
                font-size: pxToVw(26);
                line-height: pxToVw(44);
                padding: pxToVw(20) 0;
            }
        }

        ul {
            font-size: pxToVw(22);
            margin: pxToVw(20) 0;

            li {
                padding: pxToVw(20) 0;
            }

            &.bank li {
                height: pxToVw(30);
            }
        }
    }
}
